@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html
{
	scroll-behavior: smooth; 
}

body {
	min-height: 800px;
	background-image: url('/img/background.png');
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
}

.conteiner-box {
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 360px;
	width:  420px;
}

header
{
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 40px 0px;
	z-index: 1000; 
	transition: 0.6s;
}

/*
header.sticky 
{
	padding: 5px 40px;
	background:  #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
} */

header .logo img
{
	padding: 0px 60px;
	max-width: 70px;
	/*filter: invert(1);*/
}

header ul
{
	margin:0px 30px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul ul{
	position: absolute;
	top: 50px;
	display: none;
}

header ul li:hover > ul{
	display: block;
}

header ul ul li.cadastro_user
{
	float: none;
	display: list-item;
	position: relative;
}

header ul li
{
	position: relative;
	list-style: none;
}

header ul li a 
{
	display: block;
	line-height: 60px;
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.3s;
	text-transform: uppercase;
}

header ul li a.cadastro
{
	text-decoration: none;
	padding: 3px 25px;
	color: #fff;
	background: #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 30px;
}

header ul li a.cadastro:hover
{
	color: #f27300;
    background: #fff;
    border: 1px solid #f27300;
}

header ul li a.cadastro_user
{
	background-color: #1690fb;
	width: 100px;
	text-align: center;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 5px;
}

header ul li a:hover
{
	color: #f27300;
}


.text-area {
	background-color: #ecf0f3;
	border: solid  #ecf0f3 1px;
	border-radius: 40px;
	box-shadow: 13px 13px 20px #cbced1,
				-13px -13px 20px #ffffff; 
}

.icone img {
	max-width: 50px;
	margin: 20px 0px 10px 180px;
}

.erro-campo p {
	position: absolute;
	margin-top: 5px;
	text-align: center;
	font-size: 11pt;
	background-color: rgba(255,0,0,0.8);
	width: 275px;
	height: 15px;
	box-shadow: 1px 1px 1px 1px #B22222;
	padding-left: 10px;
	margin-left: 60px;
	border:solid #800000 2px;
	border-radius: 6px;
	color:#800000;
	margin-bottom: 0px;
	margin-left: 88px;
}

.erro-campo-grande p {
	position: absolute;
	margin-top: 5px;
	text-align: center;
	font-size: 11pt;
	background-color: rgba(255,0,0,0.8);
	width: 275px;
	height: 30px;
	box-shadow: 1px 1px 1px 1px #B22222;
	padding-left: 10px;
	margin-left: 60px;
	border:solid #800000 2px;
	border-radius: 6px;
	color:#800000;
	margin-bottom: 0px;
	margin-left: 88px;
}

.campo-certo {
	position: absolute;
	margin-top: 5px;
	text-align: center;
	font-size: 11pt;
	background-color: rgba(0,128,0,0.8);
	width: 275px;
	height: 30px;
	box-shadow: 1px 1px 1px 1px #23b03b;
	padding-left: 10px;
	margin-left: 60px;
	border:solid #008006 2px;
	border-radius: 6px;
	color:#016306;
	margin-bottom: 0px;
	margin-left: 88px;
}

.campo-certo a {
	text-decoration: none;
	color: #00FFFF;
}

.formulario2 {
	margin: 50px 0px 0px 50px;
}

.controle {
	font-size: 10pt;
	color: #495057;
	margin-bottom: 10px;
}

input {
	background-color: #ecf0f3;
	font-size: 10pt;
	color: #495057;
  	padding: 3px 0px 3px 5px;
  	border: none;
  	outline: none;
  	border-bottom: 1px solid #495057;
  	border-radius: 3px;
}

p {
	text-align: left;
	letter-spacing: 1px;
}

input[type=submit] {
	color: #fff; 
	font-size: 13pt;
	padding: 3% 37%;
	border-radius: 3px;
	border: none;
  	cursor: pointer;
  	box-shadow: 13px 13px 20px #cbced1,
				-13px -13px 20px #ffffff;
	background: #1690fb;
	border: 1px solid #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
}

input[type=submit]:hover {
	color: #f27300;
    background: #ecf0f3;
    border: 1px solid #f27300;
}

.botao {
	margin: 30px 40px 30px 0px;
	text-align: center;
	font-size: 13pt;
}



.toggle /*para o menu responsivo*/
{
	display: none;
}

@media (max-width: 992px){
	.toggle /*O menu reponsivo começa aqui*/
	{
		display: block;
		position: relative;
		right: 30px;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before 
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after 
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 20px 0px;
		background: #fff;
	}
	header .logo
	{
		color: #000;
	}
	header ul 
	{
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
	}
	header.active ul li a
	{
		display: inline-block;
		font-size: 20px;
	}
	header.active ul li a:hover
	{
		color: #f27300;
		padding: 5px 20px;
	}
	header,
	header ul li a
	{
	  
		color: #000;
	}
	header .logo img /*E acaba aqui*/
	{
		filter: inherit;
	}
}