* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url('/img/background.png');
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
}

.conteiner-box {
	margin: auto;
	padding-top: 30px;
	margin-bottom: -10px;
	height: 360px;
	width:  410px;
}

.text-area {
	background-color: #ecf0f3;
	border: solid  #ecf0f3 1px;
	border-radius: 40px;
	box-shadow: inset 13px 13px 20px #cbced1,
				inset -13px -13px 20px #ffffff; 
}

.icone img {
	max-width: 50px;
	margin: 20px 0px 10px 180px;
}

.erro-campo p {
	position: absolute;
	margin-top: 5px;
	text-align: center;
	font-size: 11pt;
	background-color: rgba(255,0,0,0.8);
	width: 275px;
	height: 15px;
	box-shadow: 1px 1px 1px 1px #B22222;
	padding-left: 10px;
	margin-left: 60px;
	border:solid #800000 2px;
	border-radius: 6px;
	color:#800000;
	margin-bottom: 0px;
	margin-left: 88px;
}

.erro-campo-grande p {
	position: absolute;
	margin-top: 5px;
	text-align: center;
	font-size: 11pt;
	background-color: rgba(255,0,0,0.8);
	width: 275px;
	height: 30px;
	box-shadow: 1px 1px 1px 1px #B22222;
	padding-left: 10px;
	margin-left: 60px;
	border:solid #800000 2px;
	border-radius: 6px;
	color:#800000;
	margin-bottom: 0px;
	margin-left: 88px;
}

.campo-certo {
	position: absolute;
	margin-top: 5px;
	text-align: center;
	font-size: 11pt;
	background-color: rgba(0,128,0,0.8);
	width: 275px;
	height: 30px;
	box-shadow: 1px 1px 1px 1px #23b03b;
	padding-left: 10px;
	margin-left: 60px;
	border:solid #008006 2px;
	border-radius: 6px;
	color:#016306;
	margin-bottom: 0px;
	margin-left: 88px;
}

.campo-certo a {
	text-decoration: none;
	color: #00FFFF;
}

.formulario1 {
	margin: 50px 0px 0px 50px;
}

.controle {
	font-size: 10pt;
	color: #495057;
	margin-bottom: 10px;
}

input {
	background-color: #ecf0f3;
	font-size: 10pt;
	color: #495057;
  	padding: 3px 13px 3px 5px;
  	border: none;
  	outline: none;
  	border-bottom: 1px solid #495057;
  	border-radius: 3px;
}

p {
	text-align: left;
	letter-spacing: 1px;
}

/*
input#senha {
	margin-left: 30px;
}

input#nome {
	margin-left: 28px;
}

input#usuario {
	margin-left: 21px;
}

input#facebook {
	margin-left: 13px;
}

input#instagram {
	margin-left: 12px;
}

input#nome-ong {
	margin-left: 35px;
}

input#cnpj {
	margin-left: 34px;
}

input#email {
	margin-left: 46px;
}

input#contato {
	margin-left: 17px;
}

input#telefone {
	margin-left: 24px;
}

input#descricao {
	margin-left: 13px;
}
*/

input[type=submit] {
	color: #fff; 
	font-size: 13pt;
	padding: 3% 37%;
	border-radius: 3px;
	border: none;
  	cursor: pointer;
  	box-shadow: 13px 13px 20px #cbced1,
				-13px -13px 20px #ffffff;
	background: #1690fb;
	border: 1px solid #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
}

input[type=submit]:hover {
	color: #f27300;
    background: #fff;
    border: 1px solid #f27300;
}

.botao {
	margin: 30px 40px 30px 0px;
	text-align: center;
	font-size: 13pt;
}

.cadastro-escolha h1 {
	text-align: center;
	font-size: 25pt;
	color: black;
	margin-bottom: 20px;
}


.botao-volta {
	position: absolute;
	margin: auto;
	padding-top: 135px;
    margin-left: 607px;
    display: block;
	text-align: center;
	margin-top: 185px;
	margin-bottom: 20px;
}

.botao-volta a {
	color: #495057;
	font-size: 15px; 
	text-decoration: none;
	margin-top: 2px;
	margin-left: 10px;
	text-shadow: 13px 13px 20px #cbced1,
				-13px -13px 20px #ffffff;
}

.botao-volta a:hover {
	color: #f27300;
}