@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html
{
	scroll-behavior: smooth; 
}
body
{
	min-height: 1000px;
}
header
{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 40px 50px;
	z-index: 1000; 
	transition: 0.6s;
}
header.sticky 
{
	padding: 5px 40px;
	background:  #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
/*header.sticky .logo img
{
	filter: inherit;
}*/
header .logo img
{
	max-width: 70px;
	/*filter: invert(1);*/
}
header ul
{
	position: relative;
	display: flex;
}
header ul ul{
	position: absolute;
	top: 50px;
	display: none;
}
header ul li:hover > ul{
	display: block;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a 
{
	display: block;
	line-height: 60px;
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.3s;
	text-transform: uppercase;
}
header ul ul li.cadastro_user
{
	float: none;
	display: list-item;
	position: relative;
}
header ul li a.cadastro
{
	text-decoration: none;
	padding: 3px 25px;
	color: #fff;
	background: #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 30px;
}
header ul li a.cadastro:hover
{
	color: #f27300;
    background: #fff;
    border: 1px solid #f27300;
}
header ul li a.cadastro_user
{
	background-color: #1690fb;
	width: 100px;
	text-align: center;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 5px;
}
header ul li a:hover
{
	color: #f27300;
}
header.sticky ul li a:hover
{
	color: #f27300;
}
header.sticky ul li a.cadastro
{
	text-decoration: none;
	padding: 3px 25px;
	color: #fff;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 30px;
}
header.sticky ul li a.cadastro:hover
{
	color: #f27300;
    background: #fff;
    border: 1px solid #f27300;
}
header.sticky .logo, 
header.sticky ul li a
{
	color: #000;
}
.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url("../img/bg4.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay
{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.1);
}
.banner .overlay h2
{
	padding-top: 180px;
	color: #fff;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
}
.overlay h2 span
{
	color: #f27300;
}
.toggle /*para o menu responsivo*/
{
	display: none;
}

@media (max-width: 992px){
	.toggle /*O meu reponsivo começa aqui*/
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before 
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after 
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 50px;
		background: #fff;
	}
	header .logo
	{
		color: #000;
	}
	header ul 
	{
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
	}
	header.active ul li a
	{
		display: inline-block;
		font-size: 20px;
	}
	header.active ul li a:hover
	{
		color: #f27300;
		padding: 5px 20px;
	}
	header,
	header ul li a
	{
	  
		color: #000;
	}
	header .logo img /*E acaba aqui*/
	{
		filter: inherit;
	}
	.banner
	{
		background-position: ;
	}
/*	.banner .overlay h2
	{
	    padding-top: 130px;
		font-size: 30px;
	}*/
}