@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


section.titulo
{
	position: relative;
	width: 100%;
	min-height: 50vh;
	background: #f27300; 
}
.titulo h1
{
	font-size: 50px;
	padding-top: 130px;
	text-align: center;
	color: #000;
}
.box
{
	width: 90%;
	margin: 0 auto;
	padding: 0 2px;
}
section.edc
{
	padding: 30px 90px;
}
section.edc > .box
{
	display: flex;
	flex-wrap: wrap;
}
.box1
{
	padding: 50px;
}
.box2
{
	float: left;
	width: 310px;
	height: 100vh;
	border: 1px solid #000;
}
.box2 dt, dd
{
	line-height:20px;
	text-align: center;
	padding-top: 15px;
}
.box2 dt
{
	font-weight: bold;
}
.box2 a
{
	margin: 28px 27px;
	text-decoration: none;
	padding: 3px 25px;
	color: #fff;
	background: #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 30px;
}
.box2 a:hover
{
	color: #000;
}
.botao a
{
	display: inline-flex;
	position: absolute;
	margin: 28px 27px;
	text-decoration: none;
	padding: 3px 25px;
	color: #fff;
	background: #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 30px;
}
.boxbotao {
	margin-top: 100px;
}
.toggle /*para o menu responsivo*/
{
	display: none;
}
.footer-dc{
	width: 100%;
	height: 20px;
}
.footer-dc
{
	width: 100%;
	height: 20px;
}
.footer-dc p{
	display: inline-block;
	float: left;
	margin: 10px;
}
.footer-dc a{
	color: #000;
	float: right;
	display: inline-block;
	text-decoration: none;
	padding: 16px;
}
a:hover{
	text-decoration: none;
	color: #000;
}


@media (max-width: 992px){
	.toggle /*O meu reponsivo começa aqui*/
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before 
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after 
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}

	.titulo
	{
		z-index: -1;
	}
}

.box2 img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}

.box2 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}