@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.box
{
	width: 90%;
	margin: 0 auto;
	padding: 0 2px;
}
section.adc
{
	padding: 30px 90px;
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
}
section.adc > .box
{
}
.box1
{
}
.box2
{
	float: left;
	width: 310px;
	height: 70vh;
	border: 1px solid #000;
}
.box2 dt, dd
{
	line-height:20px;
	text-align: center;
	padding: 5px;
}
.box2 a
{
	margin: 28px 27px;
	text-decoration: none;
	padding: 3px 25px;
	color: #fff;
	background: #1690fb;
	background-image: linear-gradient(to right, #1690fb, #036CDA);
	border-radius: 30px;

}
.botao
{
	margin-top: 290px;
}
.box2 dt
{
	font-weight: bold;
}



.box2 img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}

.box2 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}